---
import BaseLayout from './BaseLayout.astro';

const { frontmatter, headings } = Astro.props;
const title = frontmatter.title;
const pubDate = frontmatter.pubDate;
const description = frontmatter.description;
const tags = frontmatter.tags;

function dateFormatter(pubDate) {
  const rawDate = new Date(pubDate);
  const date = rawDate.toLocaleDateString('en-us', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  });
  return date;
}

// Look for any h2 level headings in the document
const getHeadings = headings.filter((heading) => {
  return heading.depth === 2;
});

// Don't display table of contents if there are no h2 level headings
const visible = getHeadings.length === 0 ? false : true;
---

<BaseLayout pageTitle={title} pubDate={dateFormatter(pubDate)}>
  <article class="wrapper | sidebar">
    <div class="flow">
      <section aria-label="article summary">
        <p class="post-description">
          {description}
        </p>
      </section>
      <slot />
    </div>
    <aside class="flow | tags">
      {
        visible ? (
          <div>
            <h3>Table of Contents</h3>
            <ol role="list">
              {getHeadings.map((heading) => {
                return (
                  <li>
                    <a href={`#${heading.slug}`}>{heading.text}</a>
                  </li>
                );
              })}
            </ol>
          </div>
        ) : (
          ''
        )
      }
      <div>
        <h3>Related</h3>
        <ul role="list">
          {
            tags.map((tag) => (
              <li>
                <a href={`/tags/${tag}`}>{tag}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </aside>
  </article>
</BaseLayout>
