---
import BaseLayout from './BaseLayout.astro';

const { frontmatter, headings } = Astro.props;
const title = frontmatter.title;
const pubDate = frontmatter.pubDate;
const description = frontmatter.description;
const tags = frontmatter.tags;

function dateFormatter(pubDate) {
  const rawDate = new Date(pubDate);
  const date = rawDate.toLocaleDateString('en-us', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  });
  return date;
}

// Look for description in the frontmatter of the document
const getDescription = description === undefined || null ? false : true;

// Look for any h2 level headings in the document
const getHeadings = headings.filter((heading) => {
  return heading.depth === 2;
});

// Don't display table of contents if there are no h2 level headings
const getTableOfContents = getHeadings.length === 0 ? false : true;
---

<BaseLayout pageTitle={title} pubDate={dateFormatter(pubDate)} tags={tags}>
  <article class="wrapper">
    {
      getDescription ? (
        <section class="description" aria-label="article summary">
          <p>{description}</p>
        </section>
      ) : (
        ''
      )
    }
    {
      getTableOfContents ? (
        <nav class="box | table-of-contents">
          <div class="flow">
            <span>Table of Contents</span>
            <ol role="list">
              {getHeadings.map((heading) => {
                return (
                  <li>
                    <a href={`#${heading.slug}`}>{heading.text}</a>
                  </li>
                );
              })}
            </ol>
          </div>
        </nav>
      ) : (
        ''
      )
    }
    <div class="flow | post-content">
      <slot />
    </div>
    <div class="flow | box | related">
      <span>Related:</span>
      <ul class="tags" role="list">
        {
          tags.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </article>
</BaseLayout>
