---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const title = frontmatter.title;
const pubDate = frontmatter.pubDate;

function dateFormatter(x) {
  const rawDate = new Date(x);
  const date = rawDate.toLocaleDateString('en-us', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  });
  return date;
}

const description = frontmatter.description;
const tags = frontmatter.tags;
---

<BaseLayout pageTitle={title} pubDate={dateFormatter(pubDate)}>
  <article class="wrapper | sidebar">
    <div class="flow">
      <section aria-label="article summary">
        <p class="post-description">
          {description}
        </p>
      </section>
      <slot />
    </div>
    <aside class="flow | tags">
      <div>
        <h3>Table of Contents</h3>
        <ol>
          <li>one</li>
          <li>two</li>
          <li>three</li>
        </ol>
      </div>
      <ul role="list">
        {
          tags.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
    </aside>
  </article>
</BaseLayout>
